<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Events Planner</title>
</head>

<body>

<div class="container">

	<h3>Events</h3>
	<hr>
	
	<div>																
		<div th:if="${session.account}" >
			<p th:text="'Welcome, ' + ${session.account.firstName} + ' ' + ${session.account.lastName} + '!'"></p>
		</div>	
		Role: <span sec:authentication="principal.authorities"></span>
		<br><br>	
	</div>
	<form th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>
	
	</form>	
	<br>
	<a th:href="@{/accounts/delete(accountId=${session.account.id})}"
	   class="btn btn-danger btn-sm"
	   onclick="if (!(confirm('Are you sure you want to delete this account?'))) return false">
		Delete Account
	</a>
	
	<br><br>
	<div sec:authorize="hasRole('ROLE_HOST')">  
		<a th:href="@{/events/renderFormForAdd(currentAccountId=${session.account.id})}"
			class="btn btn-primary btn-sm mr-5 mb-3">
			Add Event
		</a>
	</div>
	<br>
	
	<form th:action="@{/events/search}" class="form-inline">
		
		<label for="selectedEventDate">Choose a date to display: </label>
		  <select name="selectedEventDate" id="dropDownList">
		    <option value="all">All dates</option>
		    <option value="now">Current date</option>
		    <option th:each="tempDate : ${dates}" th:value="${tempDate}" th:text="${tempDate}"></option>
		  </select>
		  
		<button class="btn btn-success btn-sm" type="submit">View events</button>
		
    </form>	

	<br>	

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Description</th>
				<th>Date</th>
				<th>Set at</th>
				<th>Other participants</th>
				<th>Action</th>				
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEvent : ${events}">
			
				<td th:text="${tempEvent.name}" />	
				<td th:text="${tempEvent.date}" />	
				<td th:text="${tempEvent.time}" />
				
				<td>
					<ul th:each="participant : ${tempEvent.accounts}">
						<li th:if="${participant.id != session.account.id}" th:text="${participant.firstName}+' '+${participant.lastName}"></li>
					</ul>
				</td>
				
				<td>
					<span sec:authorize="hasRole('ROLE_HOST')">  
						<a th:href="@{/events/renderFormForUpdate(eventId=${tempEvent.id})}"
						   class="btn btn-info btn-sm">
							Update
						</a>	
						
						<a th:href="@{/events/delete(eventId=${tempEvent.id})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Are you sure you want to delete this event?'))) return false">
							Delete
						</a>	
						
						<a th:href="@{/reminders/list(currentEventId=${tempEvent.id})}"
						   class="btn btn-secondary btn-sm">
							View reminders
						</a>
						
						<a th:href="@{/events/renderPageForInvitation(eventId=${tempEvent.id})}"
						   class="btn btn-success btn-sm">
							Invite
						</a>
					</span>
					<div sec:authorize="hasRole('ROLE_GUEST')">	
						<form th:action="@{/events/decline(eventId=${tempEvent.id})}" method="POST" class="form-inline">
						
						   <input type="submit" value="Decline invitation" class="btn btn-danger btn-sm" 
						   onclick="if (!(confirm('Are you sure you want to decline the invitation to this event?'))) return false"/>
							
						</form>
					</div>
							
				</td>		
				
			</tr>
		</tbody>		
	</table>
	
	<table class="table table-bordered table-striped">
		<thead class="table-danger">
			<tr>
				<th>Notifications:</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="notification : ${notifications}">
				<td th:text="'Event: '+${notification.eventName}+', will begin in less than '+${notification.remainingTime}+'.'"/>
			</tr>
		</tbody>
	</table>
	
</div>

</body>
</html>



