<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration Confirmation</title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
</head>

<body>

	<h2>Events Planner</h2>

	<h3>User registered successfully!</h3>

	<hr>
	
	<a th:href="@{/accounts/renderLogInPage}" class="btn btn-primary btn-sm mr-5 mb-3">Login with new user</a>
	
</body>

</html>